form {
    @apply w-full bg-gray-50 px-10 py-8 rounded-md shadow-md
}
legend {
    @apply text-purple-600 pb-4 text-4xl border-b mb-4
}
.field {
    @apply w-full mb-6
}
label {
    @apply block uppercase font-semibold text-gray-600 text-base
}
input {
    @apply w-full font-normal border py-2 px-4 text-gray-700 hover:bg-gray-50 focus:border-indigo-500 rounded-md focus:outline-none
}
